@model IEnumerable<GetQuestionnaireViewModel>

@{
    ViewBag.Title = "История анкет";
    Layout = "_Layout";
}

<div class="container">
    <div class="d-flex justify-content-center justify-content-md-start">
        <h1>История анкеты:</h1>
    </div>
    @foreach (var item in Model)
    {
        <div class="border border-3 border-success rounded-pill m-1 bg-list-block">
            <div class="border border-3 border-success rounded-pill m-2 bg-white">
                <div class="row mx-auto">
                    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center fs-5">
                        Дата изменения: @item.Created
                    </div>
                    <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
                        <div class="m-1">
                            <a asp-controller="Questionnaire" asp-action="EditQuestionnaire" asp-route-Id="@item.Id"><input type="button" class="btn btn-success" value="Редактировать"></a>
                        </div>
                        <div class="m-1">
                            <form asp-controller="Questionnaire" asp-action="DeleteQuestionnaire" method="post" asp-route-id="@item.Id">
                                <input class="btn btn-success" type="submit" value="Удалить" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>