@model RegistrationViewModel

@{
    ViewBag.Title = "Авторизация";
    Layout = "_Layout";
}

<div>
    <div class="d-flex justify-content-center">
        <h2>Регистрация</h2>
    </div>
    <div class="row mx-auto d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-6 ">
            <div class="border border-3 border-success rounded m-1 bg-list-block">
                <div class="border border-3 border-success rounded m-2 bg-white">
                    <form class="m-2" asp-action="Register" asp-controller="Account" method="post">
                        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                        <label class="form-label">Имя</label>
                        <span class="form-text text-danger d-block" asp-validation-for="Name"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">&rarr;</span>
                            <input type="text" class="form-control" placeholder="Введите имя" asp-for="Name" aria-describedby="basic-addon1">
                        </div>
                        <label class="form-label">Фамилия</label>
                        <span class="form-text text-danger d-block" asp-validation-for="Surname"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">&rarr;</span>
                            <input type="text" class="form-control" placeholder="Введите фамилию" asp-for="Surname" aria-describedby="basic-addon1">
                        </div>
                        <label class="form-label">Отчество</label>
                        <span class="form-text text-danger d-block" asp-validation-for="Patronymic"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">&rarr;</span>
                            <input type="text" class="form-control" placeholder="Введите отчество" asp-for="Patronymic" aria-describedby="basic-addon1">
                        </div>
                        <label class="form-label">Почта</label>
                        <span class="form-text text-danger d-block" asp-validation-for="Email"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">&rarr;</span>
                            <input type="text" class="form-control" placeholder="Введите почту" asp-for="Email" aria-describedby="basic-addon1">
                        </div>
                        <label class="form-label">Пароль</label>
                        <span class="form-text text-danger d-block" asp-validation-for="Password"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">&rarr;</span>
                            <input type="password" class="form-control" placeholder="Введите пароль" asp-for="Password" aria-describedby="basic-addon1">
                        </div>
                        <label class="form-label">Подтверждение пароля</label>
                        <span class="form-text text-danger d-block" asp-validation-for="ConfirmPassword"></span>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">&rarr;</span>
                            <input type="password" class="form-control" placeholder="Введите пароль ещё раз" asp-for="ConfirmPassword" aria-describedby="basic-addon1">
                        </div>
                        <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>