@model EditSpecialtyViewModel

@{
    ViewBag.Title = "Редактировать специальность";
    Layout = "_Layout";
}

<div class="container">
    <div class="d-flex justify-content-center justify-content-md-start">
        <h2>Редактирование специальности</h2>
    </div>
    <div class="row mx-auto d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-6 ">
            <div class="border border-3 border-success rounded m-1 bg-list-block">
                <div class="border border-3 border-success rounded m-2 bg-white">
                    <form class="m-2" asp-action="EditSpecialty" asp-controller="Specialty" method="post">
                        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="mb-3">
                            <label class="form-label">Специальность</label>
                            <input type="text" class="form-control" placeholder="Введите специальность" asp-for="Name">
                            <div class="form-text">Специальность должна быть уникальной!</div>
                            <span class="form-text text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Код</label>
                            <input type="text" class="form-control" placeholder="Введите код специальности" asp-for="Code">
                            <div class="form-text">Код должен быть уникальным!</div>
                            <span class="form-text text-danger" asp-validation-for="Code"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Факультет</label>
                            <select class="form-select" asp-for="FacultyId" asp-items="ViewBag.Faculties">
                                <option value="">Выберите факультет</option>
                            </select>
                            <span class="form-text text-danger" asp-validation-for="FacultyId"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Обновить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>